.folder-btn {
    background: none;
    border: none;
    text-align: left;
    i {
        font-size: 30px;
        display: block;
        text-align: left;
        color: #f5b92f;
    }
}

.doc-file-name {
    color: #867b7b;
}

.file-name-doc {
    background-color: #fff;
    // border: 1px solid #d8cdcd;
    // padding: 0 5px;
    border: none;
    padding: 0;
}