<div class="main-section col-md-12 p-0">
  <div class='card'>
      <div class="card-header pb-0 border-bottom">
          <h3 class="">Dashboard</h3>
      </div>
      <div class='card-body'>
        <form role='form'
        [formGroup]='createDocumentForm'
        class="common-form col-md-12 p-0">
        <div class='form-group col-md-7 p-0'>
        <label>Projects List </label>
        <div class="form-group input-group">
          <div class="form-control mr-2">
            <angular2-multiselect [data]="projectLists"
            [settings]="dropdownSettings"
            formControlName="projectData"></angular2-multiselect>
          </div>
          
          <button class="btn btn-primary" (click)="onItemSelect($event,'')">Search</button>
          <button class="btn btn-primary ml-2 reset-icon" (click)="onItemSelect($event,'reset')">
            <i class="fa fa-refresh m-0"></i>
          </button>
        </div>
      
        </div>
   

        </form>
        <div class="row pt-3 m-0">
          <div *ngIf="!isReset" class="col-md-6 pt-2 pl-0">
            
            <div class="chart-wrapper">
              <h4>User Report</h4>
              <canvas baseChart
                      [data]="userChartData"
                      [colors]="ChartColors"
                      [labels]="userChartLabels"
                      [chartType]="userChartType">
              </canvas>
            </div>
          </div>
          
          <div *ngIf="isReset ">
            <!-- <h1>Default Image</h1> -->
            <div class="dash-img"><img src="assets/images/Banner-1.png" /></div>
          </div>
          
          <div *ngIf="!isReset"
               class=" col-md-6 pt-2 pl-0">
           
            <div class="chart-wrapper">
              <h4>Inspection Report</h4>
              <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
              </canvas>
            </div>
            
          </div>
          
          <div *ngIf="!isReset"
               class=" col-md-6 pt-4 pl-0">
            
            <div class="chart-wrapper">
              <h4>Issue Report</h4>
            <canvas baseChart
                    [datasets]="barChartData1"
                    [labels]="barChartLabels1"
                    [options]="barChartOptions1"
                    [plugins]="barChartPlugins1"
                    [legend]="barChartLegend1"
                    [chartType]="barChartType1">
            </canvas>
          </div>
          </div>
        </div>

        </div>
        </div>
        </div>
