<div class="main-section col-md-12 p-0">
    <div class='card'>
        <div class="card-header pb-0 border-bottom">
            <h3 *ngIf='!id'
                class="">Create ToDo</h3>
            <h3 *ngIf='id'
                class="">Edit ToDo</h3>
        </div>
        <div class='card-body'>
            <form role='form'
                  [formGroup]='createProjectForm'
                  class="common-form col-md-12 p-0">
                <div class="row">
                    <div class='form-group col-md-6'>
                        <label> Title </label>
                        <input type='text'
                               class='form-control'
                               formControlName='title'
                               placeholder="Enter Title"
                               (keypress)='restrictSpace($event)'
                               required>
                        <div class="required-text"
                             *ngIf="submitted && f.title.errors && f.title.errors.required"> Title is required
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Project Name </label>
                        <angular2-multiselect [data]="projectDDList"
                                              [settings]="projectSettings"
                                              (onSelect)="onItemSelect($event)"
                                              formControlName="projectDD"></angular2-multiselect>
                                              <div class="required-text"
                             *ngIf="submitted && f.projectDD.errors && f.projectDD.errors.required">Project is required </div>
                    </div>
                    

                   

                </div>
                <div class="row">


                    <div class="col-md-6 form-group">
                        <label>People Involved </label>
                        <angular2-multiselect [data]="userDDList"
                                              [settings]="userSettings"
                                              (onSelect)="onItemSelect($event)"
                                              formControlName="userDD"></angular2-multiselect>
                                              <div class="required-text"
                                              *ngIf="submitted && f.userDD.errors && f.userDD.errors.required">People Field is required </div>                                     
                                            </div>
                    <div class="form-group col-md-6">
                        <label>Date </label>
                        <input type='date'
                               class='form-control'
                               formControlName='date'
                               (keypress)='restrictSpace($event)'
                               required>
                        <div class="required-text"
                             *ngIf="submitted && f.date.errors && f.date.errors.required">Date is required </div>
                    </div>


                    

                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        
                        <label>Time</label>
                        <input type='time'
                               class='form-control'
                               formControlName='time'
                               (keypress)='restrictSpace($event)'
                               required>
                        <div class="required-text"
                             *ngIf="submitted && f.time.errors && f.time.errors.required">Time is required
                        </div>
                    </div>

                    <div class='form-group col-md-6'>
                        <label>Other Details or Notes </label>
                        <textarea type='textArea'
                                  class='form-control'
                                  formControlName='description'
                                  placeholder="Enter Description"
                                  (keypress)='reformstrictSpace($event)'
                                  required></textarea>
                        <div class="required-text"
                             *ngIf="submitted && f.description.errors && f.description.errors.required">Details is
                            required</div>
                    </div>

                </div>


            </form>
            <div class='buttom-section text-right'>
                <button class='btn btn-default mr-2'
                        (click)='listPath()'>cancel</button>
                <button class='btn btn-primary'
                        (click)='onSubmit()'>save</button>
            </div>
        </div>
    </div>
</div>