<div class="main-section col-md-12 p-0">
    <div class='card'>
        <div class="card-header pb-0 border-bottom row m-0">
            <div class="col-md-4 page-header pl-0">
                <h3 *ngIf='projectId' class="">Issues Report</h3>
            </div>
            <!-- <div class="d-flex flex-row justify-content-end align-items-center col-md-8 pr-0">
                <button class="btn btn-primary" (click)='onExport()'><i class="fa fa-arrow-down"></i>Export </button>
            </div> -->
        </div>
        <div class='card-body'>
            <form role='form' class="common-form col-md-12">

                <div class="work-monitor-section">

                    <!-- <h4 class="sub-header">Project title : <span>{{projectTitle}}</span></h4> -->


                    <div class="table-module-sec">
                        <div class="row m-0 card-header px-0">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="sm-sec text-center">Issue.No</th>
                                        <th> Description</th>
                                        <th class="sm-sec text-center"> Image</th>
                                        <th class="sm-sec text-center"> Status</th>
                                        <th class="md-sec text-center"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of issueTableData;let subi=index">
                                        <td class="text-center">{{subi+1}}</td>
                                        <td>{{data.description}}</td>
                                        <td class="text-center"><img [src]="data.imagePreview" lightbox [simpleMode]="true" /></td>
                                        <td class="text-center">{{data.status}}</td>
                                        <td class="text-center">
                                            <div *ngIf='data.verifyDate == null'>
                                                <button class='btn btn-primary mr-2' (click)='issuesVerified(data.imageId)' placement="bottom" [disabled]="data.status == 'pending'">Verify</button>

                                            </div>
                                            <div *ngIf='data.verifyDate && data.status == "approved"'>
                                                <p>Verified At : {{convertDateFormat(data.verifyDate)}}</p>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <div class='buttom-section text-right'>
                <!-- <button class='btn btn-default mr-2' (click)='listPath()'><i class="fa fa-long-arrow-left mr-2"></i>back</button> -->
            </div>
        </div>
    </div>
</div>